/* Full screen background image */
.bg-img {
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bean {
  position: absolute;
  top: -10%;
  font-size: 2rem;
  animation: fall linear infinite;
  animation-timing-function: linear;
}

@keyframes fall {
  to {
    transform: translateY(110vh); /* Moves the beans to below the screen */
  }
}
